@page "/greeter"
@inherits DemoApp.Components.Pages.GreeterBase
<h1>Hello @(VisitorName ?? "World")</h1>
<p>
    <b>Your Name: </b>
    <input required="required" bind="@VisitorName"/>
    <button onclick="@UpdateCounter">Greet</button>
</p>
<table border="1">
    <tr>
        <th>Visitor Name</th>
        <th>Greet Count</th>
    </tr>
    @foreach(var entry in Counter)
    {
        <tr>
            <td>@entry.Name</td>
            <td>@entry.Count</td>
        </tr>
    }
</table>
