@page "{id?}"
@model ClientApp.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
    <head>
        <title>ClientApp</title>
    </head>
	<body>
    <h1>Welcome Visitor</h1>
	<table border="1">
		<tr>
			<th>Name</th>
			<th>Comment</th>
			<th>Rating</th>
			<th>Change Rating</th>
		</tr>
		@foreach(var item in Model.Feedbacks)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.Comment</td>
				<td>@item.Rating</td>
				<td>
					<a asp-page-handler="Change" asp-route-id="@item.Name" asp-route-direction="up">Increment</a>
					<a asp-page-handler="Change" asp-route-id="@item.Name" asp-route-direction="down">Decrement</a>
				</td>
			</tr>
		}
	</table>
	</body>
</html>
